body {
    /* Add background image */
    background-image: url('https://images.unsplash.com/photo-1762450127876-515aed711718?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxmZWF0dXJlZC1waG90b3MtZmVlZHw4MHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=60w=500');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    
    
    background-color: #313647;
    color: #A3B087;
}

body {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Add solid background to main content area for readability */
#main {
    background-color: #313647;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

/* Add background to header*/
header {
    background-color: #313647;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}